:root {
    font-size: 24px;

    --gray-100: #FBF9FE;
    --gray-200: #322F40;
    --gray-300: #282533;
    --gray-400: #1D1B26;
    --gray-500: #0F0E13;

    --blue: #7FC4ED;
    --blue-dark: #659ABA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray-500);
    color: var(--gray-100);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}