header {
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  border-radius: 999px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.welcome span {
  color: var(--gray-100);
  /* Headin 1 */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

.welcome span:first-child {
  font-weight: 300;
}
